body
{
    background: #2f353b;
}

.TextHeader
{
    text-align: center;
    color: #fff;
    font-size: 45px;
}

.TextHeader a
{
    font-size: 45px;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}

.InputField
{
    font-size: 45px;
    white-space: nowrap;
    color: #fff;
    margin-left: 20%;
    margin-right: 30%;
}

.InputField input
{
    display: inline-block;
    vertical-align: middle;
}

.StudentBlock
{
    background-color: #e0c884;
    width: 600px;
    margin: 20px auto;

    text-align: center;
    color: #fff;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;

    border: 6px solid #9e8a52;
}

.SiteHeader
{
    background-color: #6787d4;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 20px;
}

.SiteHeader .LeftText
{
    text-align: left;
    padding-left: 20px;
}

.SiteHeader .RightText
{
    text-align: right;
    padding-left: 20px;
}

.SiteHeader a
{
    font-size: 45px;
    color: #fff;
    text-decoration: none;
}