{% extends 'main/baseTemplate.html' %}

{% block Title %}
Туденты
{% endblock %}

{% block body %}
<div class="TextHeader">
    Все студенты

    {% if user.is_authenticated %}
    <br> <a href="createstudent/"> <i class="fa-solid fa-square-plus"></i> Добавить студента </a>
    {% endif %}

</div>
    {% for currentStudent in students%}
    <div class="StudentBlock">
        Студент {{ currentStudent.group }} группы<br>{{ currentStudent.fio }}<br>
        Описание:<br>{{ currentStudent.title }}
    </div>
    {% endfor %}
{% endblock %}